# the database url like 'jdbc:mysql://<host>:<port>/<database>' (without quotes)

url=jdbc:mysql://127.0.0.1:8889/smarthome?useSSL=true&serverTimezone=Europe/Berlin

# the database user
user=root

# the database password
password=root

# the reconnection counter
#reconnectCnt=

# the connection timeout (in seconds)
#waitTimeout=

# Use MySQL Server time to store item values (=false) or use openHAB Server time (=true).
# For new installations, its recommend to set "localtime=true".
# (optional, defaults to false)
#localtime=true
