felix.fileinstall.filename="file:/Users/marcodinatale/Downloads/SmartHome/userdata/etc/org.apache.karaf.kar.cfg"
karStorage="/Users/marcodinatale/Downloads/SmartHome/userdata/tmp/kar"
noAutoRefreshBundles="false"
noAutoStartBundles="false"
service.bundleLocation="?"
service.pid="org.apache.karaf.kar"
