felix.fileinstall.active.level="90"
felix.fileinstall.dir="/Users/marcodinatale/Desktop/openhab-2/addons"
felix.fileinstall.filename="file:/Users/marcodinatale/Desktop/openhab-2/userdata/etc/org.apache.felix.fileinstall-deploy.cfg"
felix.fileinstall.log.level="3"
felix.fileinstall.poll="10000"
felix.fileinstall.start.level="80"
felix.fileinstall.subdir.mode="skip"
felix.fileinstall.tmpdir="/Users/marcodinatale/Desktop/openhab-2/userdata/tmp/bundles"
service.bundleLocation="?"
service.factoryPid="org.apache.felix.fileinstall"
service.pid="org.apache.felix.fileinstall.0feba83d-f8be-4d28-ae0c-54876890c5a7"
