felix.fileinstall.active.level="90"
felix.fileinstall.dir="/Users/marcodinatale/Downloads/openhab-2/addons"
felix.fileinstall.filename="file:/Users/marcodinatale/Downloads/openhab-2/userdata/etc/org.apache.felix.fileinstall-deploy.cfg"
felix.fileinstall.log.level="3"
felix.fileinstall.poll="10000"
felix.fileinstall.start.level="80"
felix.fileinstall.subdir.mode="skip"
felix.fileinstall.tmpdir="/Users/marcodinatale/Downloads/openhab-2/userdata/tmp/bundles"
service.bundleLocation="?"
service.factoryPid="org.apache.felix.fileinstall"
service.pid="org.apache.felix.fileinstall.d9011156-f6ee-4410-a0bd-7543afcc3bfd"
