felix.fileinstall.active.level="90"
felix.fileinstall.dir="/Users/marcodinatale/Downloads/SmartHome/addons"
felix.fileinstall.filename="file:/Users/marcodinatale/Downloads/SmartHome/userdata/etc/org.apache.felix.fileinstall-deploy.cfg"
felix.fileinstall.log.level="3"
felix.fileinstall.poll="10000"
felix.fileinstall.start.level="80"
felix.fileinstall.subdir.mode="skip"
felix.fileinstall.tmpdir="/Users/marcodinatale/Downloads/SmartHome/userdata/tmp/bundles"
service.bundleLocation="?"
service.factoryPid="org.apache.felix.fileinstall"
service.pid="org.apache.felix.fileinstall.f7cdde95-017c-4bf8-9af1-ad064751917b"
