felix.fileinstall.filename="file:/Users/marcodinatale/Downloads/SmartHome/userdata/etc/org.ops4j.pax.url.mvn.cfg"
org.ops4j.pax.url.mvn.defaultRepositories="file:/Users/marcodinatale/Downloads/SmartHome/runtime/system@id\=system.repository@snapshots,\ file:/Users/marcodinatale/Downloads/SmartHome/userdata/tmp/kar@id\=kar.repository@multi@snapshots,\ file:/Users/marcodinatale/Downloads/SmartHome/userdata/system@id\=child.system.repository@snapshots"
org.ops4j.pax.url.mvn.localRepository="/Users/marcodinatale/Downloads/SmartHome/userdata/tmp/mvn"
org.ops4j.pax.url.mvn.repositories="https://dl.bintray.com/openhab/mvn/online-repo/2.4@id\=openhab"
org.ops4j.pax.url.mvn.useFallbackRepositories="false"
service.bundleLocation="?"
service.pid="org.ops4j.pax.url.mvn"
